*{
    margin: 0px;
    padding: 0px;
    /*border: 1px solid black;*/
}

body{
    max-width: 1000px;
    margin: auto;
}


header{
    width: 100%;
    height: 150px;
    background-image: url("images/picture_header.jpg");
    background-size: cover;
    display: flex;
    
}

#text_header{
    margin: auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    flex-wrap: wrap;
    
}
h1, h2{
    margin: 5px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(36, 102, 80);
    flex-wrap: wrap;
    margin-bottom: 2px;
    padding: 10px 0px;
    box-shadow: 10px 10px 10px black;  
}

nav > a {
    
    width: 300px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: rgb(158, 214, 158);
    color: rgb(36, 102, 80);
    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    margin: 2px 0px;

}

nav > a:hover{
    background-color: rgb(241, 245, 241);
    transition: 1000ms;

}

.nav_portal{
    min-height: 400px;
    border-radius: 10px;
}

.section_title{
    background-color: rgb(158, 214, 158);
    margin-bottom: 2px;
    padding: 30px;
    font-size: 20px;
    border-radius: 40px;
    
}

.section_title > div{
    color: rgb(10, 54, 31);
    text-align: center;
    margin-bottom: 10px;

}

#section_data{
    background-color: rgb(158, 214, 158);
    margin-bottom: 2px;
    padding: 30px;
    font-size: 20px;
    border-radius: 40px;
}

#section_data > div{
    width: 70%;
    margin: 50px auto;
    text-align: center;
    font-size: 25px;
}

#section_data > div > form > p >input{
    width: 80%;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#button_sub{
    background-color: rgb(36, 102, 80);
    color: white;
    font-size: 20px;
}

#button_sub:hover{
    background-color: rgb(97, 211, 97);
    color: rgb(5, 54, 24);
    transition: 1000ms;
}

table, tr, th, td{
    border: 1px solid black;
    margin: auto;
}



footer{
    background-color: rgb(36, 102, 80);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0px; 
    box-shadow: 10px 10px 10px black; 
    
}
footer > div {
    padding: 20px 20px;
    text-align: center;
    color: rgb(173, 173, 173);
    font-weight: 700;
    font-size: 20px;

}
