<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do fornecedor</a>
       <a href="001_index.html">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Fornecedor, veja a lista e escolha o produto a ser excluído:</div>
    </section>
    <section id="section_data">
        <div>
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>Uva</td>
                    <td>R$ 20,00</td>
                </tr>
                <tr>
                    <td>Banana</td>
                    <td>R$ 10,00</td>
                </tr>
            </table>
        </div>            
        <div>
            <form action="001_prod_excluido_cadastro.html" method="get">
                <label for="nome_produto">Nome do produto:</label>
                <p><input type="text" name="produto" id="nome_produto"></p>
                
                <p><input type="submit" value="Excluir" id="button_sub"></p>
            </form>
        </div>
    </section>
    <nav>
        <a href="001_portal_fornecedor.html">Voltar ao menu cadastro</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>