<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do consumidor</a>
       <a href="001_index.html">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Consumidor, veja o conteúdo do carrinho:</div>
    </section>
    <section id="section_data">
        <div>
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>
                <tr>
                    <td>Uva</td>
                    <td>R$ 20,00</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Banana</td>
                    <td>R$ 10,00</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Valor total:</td>
                    <td colspan="2">R$ 300,00</td>
                </tr>
            </table>
        </div>      
    </section>
    <nav>
        <a href="001_portal_consumidor.html">Voltar ao menu de compras</a>
        <a href="001_compra_finalizada.html">Fnalizar compra</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>