<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do Consumidor</a>
       <a href="001_index.html">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Consumidor, veja a lista de produtos disponíveis e adicione ao carrinho para efetuar a compra!</div>
    </section>
    <section id="section_data">
        <div>
            <ul>
                <li>Lista de produtos CADASTRADOS</li>
            </ul>
        </div>
        <div>
            <form action="001_produto_adc_carrinho.html" method="get">
                <label for="nome_produto">Nome do produto:</label>
                <p><input type="text" name="produto" id="nome_produto"></p>
                <label for="preco_produto">Quantidade: </label>
                <p><input type="number" name="preco" id="preco_produto"></p>
                <p><input type="submit" value="Adicionar no carrinho" id="button_sub"></p>
            </form>
        </div>
    </section>
    <nav>
        <a href="001_portal_consumidor.html">Voltar ao menu de compras</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>