<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal de relatório</a>
    </nav>
    <section class="section_title">
        <div>Aqui encontra-se uma consolidação dos dados obtidos com as vendas.</div>
    </section>
    <section id="section_data">
        <div>
            <p>Quantidade que foi vendido de cada produto:</p>
            <br>
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
                <tr>
                    <td>Uva</td>
                    <td>20</td>
                </tr>
            </table>
        </div>
        <div>
            <p>Qual valor vendido de cada produto:</p>
            <br>
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Valor total</th>
                </tr>
                <tr>
                    <td>Uva</td>
                    <td>R$ 20,00</td>
                </tr>
            </table>
        </div>
        <div>
            <p>Quanto em dinheiro foi vendido no total:</p>
            <br>
            <table>
                <tr>
                    <th>Total arrecadado</th>
                </tr>
                <tr>
                    <td>R$ 200,00</td>
                </tr>
            </table>
        </div>
    </section>
    <nav>
        <a href="{{url_for('index')}}">Voltar ao início</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>