<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do fornecedor</a>
       <a href="001_index.html">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Bem-vindo ao Portal do fornecedor!</div>
        <div>Escolha uma das opções:</div>
    </section>
    <nav>
        <a href="001_cadastrar_produto.html">Cadastrar produto</a>
        <a href="">Listar produtos cadastrados</a>
        <a href="">Excluir produtos</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>