<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do consumidor</a>
       <a href="001_index.html">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Bem-vindo ao Portal do consumidor!</div>
        <div>Escolha uma das opções:</div>
    </section>
    <nav class="nav_portal">
        <a href="001_adicionar_no_carrinho.html">Adicionar produto ao carrinho</a>
        <a href="001_listar_produtos_carrinho.html">Visualizar conteúdo do carrinho</a>
        <a href="001_excluir_carrinho.html">Excluir produto do carrinho</a>
        <a href="001_finalizar_compra.html">Ir para finalizar compra</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>