<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_index.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="{{url_for('fornecedor')}}">Portal do fornecedor</a>
       <a href="{{url_for('consumidor')}}">Portal do consumidor</a>
    </nav>
    <div class="sec_home">
        <section class="section_home">
            <img src="../static/images/picture_header.jpg" alt="">
        </section>
        <section class="section_home">
            <p>Uma vida saudável é seguramente o maior desejo de todos nós. Afinal, sem saúde a vida não tem o mesmo significado.</p>
        </section>
    </div>
    <div class="sec_home">
        <section class="section_home">
            <p>Estabelecer uma alimentação saudável faz uma grande diferença na vida de uma pessoa. Ela pode ajudar a melhorar o sistema imunológico, na qualidade do sono, no humor, na perda de peso e até mesmo na capacidade de concentração.</p>
        </section>
        <section class="section_home">
            <img src="../static/images/picture_home_02.jpg" width="300px" alt="">
        </section>
    </div>
    <nav>
        <a href="{{url_for('relatorio')}}">Relatórios</a>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>