<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Veja a lista de produtos disponíveis para compra:</h3>
<h6>{{ lista }}</h6>

    <form action="/carrinho_cad" method="get">
        <label for="nome_produto">Nome do produto:</label>
        <p><input type="text" name="produto" id="nome_produto"></p>
        <label for="qtd_produto">Quantidade: </label>
        <p><input type="number" name="quantidade" id="qtd_produto"></p>
        <input type="submit" value="Adicionar">
    </form>

</body>
</html>