{% extends 'base.html' %}
{% block basehtml %}
<body>
    <div>
        <fieldset>
            <legend>Cadastro de produtos</legend>
            <form action="{{url_for('addProduto')}}" method="POST">
                <label for="">Produto:</label>
                <br>
                <input type="text" name="nomeProduto" placeholder="Digite o nome do produto" required>
                <p>
                <label for="">Preço:</label>
                <br>
                <input type="number" name="valorProduto" placeholder="Digite o valor do produto" required>
                <button>Cadastrar</button>
            </form>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Produtos cadastrados</legend>
            <table>
                <tr>
                  <th>Nome</th>
                  <th>Preço</th>
                  <th>Ação</th>
                </tr>
                    {% for item in produtos %}
                        <tr>
                            <td>{{item.nomeProduto}}</td>
                            <td>{{item.valorProduto}}</td>
                            <td>
                                <a href="{{item.nomeProduto}}" class="botao aqui">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
              </table>
            </fieldset>  
        mostra produtos listados
    </div>
</body>

{% endblock basehtml %}
