<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do consumidor</a>
       <a href="/">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Bem-vindo ao Portal do fornecedor!</div>
        <div>Escolha uma das opções:</div>
    </section>
    <section id="section_data">
        <div>
            <fieldset>
                <legend>Veja os produtos disponíveis</legend>
                <table>
                    <tr>
                      <th>Nome</th>
                      <th>Preço</th>
                      <th>Ação</th>
                    </tr>
                        {% for item in produtos %}
                            <tr>
                                <td>{{item.nomeProduto}}</td>
                                <td>{{item.valorProduto}}</td>
                                <td>
                                    <button class="button_sub"><a href="{{item.nomeProduto}},{{item.valorProduto}}/addCompra" class="botao aqui">Adicionar</a></button>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend>Seu Carrinho</legend>
                <table>
                    <tr>
                      <th>Nome</th>
                      <th>Preço</th>
                      <th>Ação</th>
                    </tr>
                        {% for item in carrinho %}
                            <tr>
                                <td>{{item.nomeProduto}}</td>
                                <td>{{item.valorProduto}}</td>
                                <td>
                                    <button class="button_sub"><a href="{{item.nomeProduto}}/rmvCompra" class="botao aqui">Excluir</a></button>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
                <br>
                <table>
                    <tr>
                        <th>Nº de produtos</th>
                        <th>Valor total</th>
                        <th>Ação</th>
                        </tr>
                    <tr>
                        <td>{{qtdCompra}}</td>
                        <td>R$ {{soma}}</td>
                        <td>
                            <button class="button_sub"><a href="/finalizar_compra">Finalizar Compra</a></button>
                        </td>
                    </tr>
                </table>             
            </fieldset>
        </div>
    </section>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>

    </footer>

</body>
</html>