<body>
    <fieldset>
        <legend>Dados</legend>
            <form action="{{url_for('addRelatorio')}}" method="GET"">
                <div>
                    <label>Nome completo:</label><br>
                    <input name="nomeCliente" required><br><br>
                    <label for="">Escolha a forma de pagamento:</label><br>
                    <input type="radio" name="tipopag" value="Boleto bancário">
                    <label>Boleto bancário</label><br>
                    <input type="radio"  name="tipopag" value="Cartão de crédito">
                    <label>Cartão de crédito</label>
                </div>
                <br>
                <button>Comprar</button>
                <button><a href="/compracancelada">Cancelar</a></button>
            </form>
    </fieldset>
</body>
