<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style_portal_cadastro.css">
    <script>
        function alerta() {
            alert("Sua compra foi gerada com sucesso! A empresa agradece a preferência! Até a próxima!")
        }
    </script>
</head>
<body>
    <header>
        <div id="text_header">
            <h1>Orgânicos</h1>
            <h2>Alcance uma vida saudável!</h2>
        </div>
    </header>
    <nav>   
       <a href="">Portal do fornecedor</a>
       <a href="/">Voltar ao início</a>
    </nav>
    <section class="section_title">
        <div>Bem-vindo ao Portal de finalização de compras!</div>
        <div>Preencha os dados abaixo:</div>
    </section>
    <section id="section_data">
        <div>
            <fieldset>
                <legend>Dados</legend>
                    <form action="{{url_for('addRelatorio')}}" method="GET">
                        <label>Nome completo:</label><br>
                        <p><input type="text" name="nomeCliente" required></p>
                        <br>
                        <label for="">Escolha a forma de pagamento:</label><br>
                        <div id="forma_pagamento">
                            <input type="radio" name="tipopag" value="PIX">
                            <label>PIX</label><br>
                            <input type="radio"  name="tipopag" value="Cartão">
                            <label>Cartão</label>
                        </div>
                        <br>
                        <button onclick="alerta()" class="button_sub">Comprar</button>
                        <button class="button_sub"><a href="/compracancelada">Cancelar</a></button>
                    </form>
            </fieldset>
        </div>
    </section>
    </nav>
    <footer>
        <div>
            &reg;Empresa Orgânicos
        </div>
        <div>
            Contato: organicos@empresa.com
        </div>
    </footer>
</body>
</html>
