{% extends 'base.html' %}
{% block basehtml %}
<body>
    <div>
        <fieldset>
          <legend>Produtos cadastrados</legend>
            <table>
              <tr>
                <th>Data:</th>
                <th>Valor</th>
                <th>Nome Cliente</th>
                {% for c in base %}
              <tr>
                  <td>{{c.Data}}</td>
                  <td>{{c.Data}}</td>
teste
              </tr>
          {% endfor %}
            </table>
        </fieldset>  
        mostra produtos listados
    </div>
</body>
{% endblock basehtml %}
