{% extends 'base.html' %}
{% block basehtml %}
<body>
    <div>
        <fieldset>
          <legend>Relatório de compras</legend>
            <table>
              <tr>
                <th>Data:</th>
                <th>Valor:</th>
                <th>Nome Cliente:</th>
                <th>Tipo de Pagamento:</th>
                <th>Produtos:</th>
                {% for c in base %}
              <tr>
                  <td>{{c.Data}}</td>
                  <td>{{c.Valor}}</td>
                  <td>{{c.NomeCliente}}</td>
                  <td>{{c.TipoPagamento}}</td>
                  <td>
                    <details>
                      <summary>Produtos</summary>
                        <p>
                          <table>
                            {{c.Produtos}}</td>
                          </table>
                        </p>
                    </details>
                  </td>
              </tr>
                {% endfor %}
            </table>
        </fieldset>  
    </div>
</body>
{% endblock basehtml %}
